*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  max-width: none;

  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

h1{
  padding-bottom: 30px;
  font-size: 1.8em;
}

label{
  display: inline-flex;
  text-align: left;
  width: 90%;
  margin-bottom: -10px;
}

main{
  height: calc(100vh - 30px);
  display: flex;
  width: 100%;
  max-width: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

footer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: #666;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.3em;
  font-size: 1em;
}

footer a {
  text-decoration: none;
  color: #fbae29;
}
footer a:hover {
  text-decoration: none;
  color: #ffc662;
}