.media, .select{
  padding: 7px 5px;
  border-radius: 7px;
  font-size: 1.1em;
  border: 0;
  outline: 0;
  width: 90%;
}
.media:focus,
.media:hover,
.select:focus,
.select:hover,
.btn:focus,
.btn:hover{
  border: 0;
  outline: 0;
}
.media::placeholder,
.select::placeholder{
  color: #222;
}

.btn{
  padding: 10px;
  border-radius: 7px;
  font-size: 1em;
  border: 0;
  outline: 0;
  margin: 10px;
}
.btn:hover,
.btn:focus{
  background-color: #96bd9c;
}

.label{
  text-align: left;
  width: 90%;
  margin-bottom: -10px;
}